/*-------------- Common --------------*/
.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.small-font{
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
     text-decoration: none;
 }

/*-------------- Header --------------*/
#header{
    background-color: teal ;
    height: 90px;
    text-align: center;
    font-size: 50px;
    color: white;
}

/*-------------- Footer --------------*/
#footer{
    background-color: teal ;
    height: 90px;
    text-align: center;
    color: white;
}
